*
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body
{
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
}
header
{
	background: white;
	border: 1px #D3D3D3 solid;
	display: flex;
}
input[type="text"]
{
	padding: 5px;
	width: 100%;
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
	margin-bottom: 5%;
}
input[type="text"]:focus
{
	box-shadow: 0 0 5px #428CC4;
	border:1px solid #428CC4;
}
#usr_a
{
	padding: 5px;
	width: 70%;
	margin-bottom: 5%;
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
}
#usr_a:focus
{
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid #428CC4;
}
input[type="password"]
{
	margin-bottom: 5%;
	padding: 5px;
	width: 100%;
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
}
input[type="password"]:focus
{
	box-shadow: 0 0 5px #428CC4;
	border:1px solid #428CC4;
}
#pass_a
{
	padding: 5px;
	width: 70%;
	margin-bottom: 5%;
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
}
#pass_a:focus
{
	box-shadow: 0 0 5px #428CC4;
	border:1px solid #428CC4;
}
.first_1
{
	display: flex;
	justify-content: flex-start;
	margin-left: 15%;
	color: #428CC4;
	cursor: pointer;
	overflow:hidden; 
	transition:all 1s;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	align-self: center;
}
.first_2
{
	display: flex;
	justify-content: flex-start;
	color: #428CC4;
	cursor: pointer;
	overflow:hidden; 
	transition:all 1s;
	align-self: center;
}
.first_3
{
	display: flex;
	justify-content: flex-start;
	color: red;
	cursor: pointer;
	overflow:hidden; 
	transition:all 1s;
	align-self: center;
	margin-left: 15%;
}
.first_1:hover h4
{
	background: #D7DADA;
	transition:all 1s;
}
.first_2:hover h4
{
	background: #D7DADA;
	transition:all 1s;
}
.first_3:hover h4
{
	background: #D7DADA;
	transition:all 1s;
}

.last
{
	display: flex;
	justify-content: flex-end;
	margin-left: 50%;
	color: #428CC4;
}
.no_espec
{
	text-decoration: none;
	cursor: pointer;
	color: #619ECD;
}
.no_espec:hover
{
	border-bottom: 1px solid #619ECD;
	cursor: pointer;
	color: #619ECD;
}
.home
{
	padding: 10px;
	align-self: center;
	display: flex;
	margin-right: 10%;
}
.home_admin
{
	padding: 10px;
	align-self: center;
	display: flex;
	color: red;
}
#panel {
    padding: 50px;
    float: right;
}
#caja_login
{
	width: 30%;
	background: white;
	display: flex;
	padding: 20px;
	border: 1px solid #1D7E97;
	border-radius: 10px;
	padding-right: 30px;
	margin-top: 2%;
}
#caja_register
{
	background: white;
	display: flex;
	padding-bottom: 20px;
	border: 1px solid #1D7E97;
	border-radius: 10px;
	padding-right: 40px;
	padding-left: 30px;
	margin-top: 2%;
}
#caja_anun
{
	width: 30%;
	background: white;
	display: flex;
	padding: 20px;
	border: 1px solid #1D7E97;
	border-radius: 10px;
	padding-right: 30px;
	margin-top: 2%;
}
#art_log
{
	display: flex;
	justify-content: center;
	flex-wrap: no-wrap;
	height: auto;
}
#art_dash
{
	display: flex;
	justify-content: center;
	flex-wrap: no-wrap;
	height: auto;
}
#art_reg
{
	display: flex;
	justify-content: center;
}
#art_anun
{
	display: flex;
	justify-content: center;
}
#olv_pass
{
	font-size: 13px;
    margin-left: 5%;
    color: #619ECD;
    cursor: pointer;
}
#logsend
{
	width: 50%;
    border: none;
    background: #428CC4;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666B6B;
    cursor: pointer;
}
#logsend:hover
{
	background: #2d4ecb;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
#registrarse
{
	font-size: 13px;
    color: #395352;
}
#nuevo_reg
{
	margin-top: 5%;
	background: #E2EEEE;
	margin-left: -20px;
	margin-right: -30px;
	margin-bottom: -20px;
	height: 30px;
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#reg_button
{
	width: 100%;
    border: none;
    background: #428CC4;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666B6B;
    cursor: pointer;
}
#reg_button:hover
{
	background: #2d4ecb;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
#bad_login
{
	margin-bottom: 7%;
	background-color: #D04C4C;
	padding: 5px;
	width: 50%;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	border: 1px solid #666B6B;
}
#descripcion_b
{
	text-align: middle;
	resize: none;
	width: 100%;
	height: 300px;
	padding: 5px;
	border:1px solid rgba(0,0,0,0.2);
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
}
#descripcion_b:focus
{
	box-shadow: 0 0 5px #428CC4;
	border:1px solid #428CC4;
}
#desconexion
{
	text-decoration: none;
	cursor: pointer;
	color: #619ECD;
}
#desconexion:hover
{
	cursor: pointer;
	color: #4676AD;
	text-decoration: none;
}
#img_user
{
	border-radius: 45px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	display: flex;
}
#img_user_admin
{
	border-radius: 45px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	display: flex;
}
#name_usr
{
	margin-left: 10%;
}
#name_usr_admin
{
	margin-left: 20%;
}
#dash
{
	text-decoration: none;
	cursor: pointer;
	color: red;
}
.dash_r
{
	background-color: white;
	border-collapse: collapse;
}
.formulario
{ 
	margin: 0 !important;
}
#boton_upd
{
	background-color: white;
}
#update
{
	margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
#successivo
{
	margin-left: 5%;
	background-color: #83B245;
	width: 100%;
    border: none;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666B6B;
}
#update
{
    border: none;
    background: #428CC4;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666B6B;
    cursor: pointer;
}
#update:hover
{
	background: #2d4ecb;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
.white
{
	color: white;
}
.nothing
{

	padding: 0;
	width: 20%;
	outline:none;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);
	margin-bottom: 5%;
}